<div class="right controls">
  <!-- need access to post -->
  {{#if ownComment}}
    <img src="/images/black-close-icon.png" class="delete comment_delete" title="{{t "delete"}}" />
  {{/if}}
</div>

<a href="/people/{{author.id}}">
  <img src="{{author.avatar.small}}" class="avatar" />
</a>

<div class="content">
  <div class="collapsible">
    {{text}}
  </div>

  <div class="comment_info">
    <time class="timeago" datetime="{{created_at}}"/>
  </div>
</div>
