-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.edit_account')

.row
  .span12.offset2.content-area
    %h1
      = t('settings')
    = render 'shared/settings_nav'

    .clearfix
      %h3
        = t('.your_handle')
      %p
        %b= current_user.diaspora_handle

    .clearfix
      = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
        = f.error_messages
        %fieldset
          %legend
            = t('.change_email')

          .clearfix
            = f.label :email, t('.your_email')
            .input
              = f.text_field :email, :value => @user.unconfirmed_email || @user.email
          .actions
            = f.submit t('.change_email'), :class => "btn primary"
            = link_to t('cancel'), edit_user_path, :class => "btn"

        - if @user.unconfirmed_email.present?
          .clearfix
            %p
              = t('.email_awaiting_confirmation', :email => @user.email, :unconfirmed_email => @user.unconfirmed_email)

    .clearfix
      = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
        = f.error_messages
        %fieldset
          %legend
            = t('.change_password')

          .clearfix
            = f.label :current_password, t('.current_password')
            .input
              = f.password_field :current_password

          .clearfix
            = f.label :password, t('.new_password')
            .input
              = f.password_field :password
              %span.help-inline
                %strong
                  Note:
                Password must be at least 6 characters long

          .clearfix
            = f.label :password_confirmation, t('password_confirmation')
            .input
              = f.password_field :password_confirmation

          .actions
            = f.submit t('.change_password'), :class => "btn primary"
            = link_to t('cancel'), edit_user_path, :class => "btn"

    .clearfix
      = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
        %fieldset
          = f.error_messages
          %legend
            = t('.change_language')

          .clearfix
            .input
              = f.select :language, available_language_options
          .actions
            = f.submit t('.change_language'), :class => "btn primary"
            = link_to t('cancel'), edit_user_path, :class => "btn"

    .clearfix
      = form_for current_user, :url => user_path, :html => { :method => :put } do |f|
        = f.error_messages
        %fieldset
          %legend
            = t('.stream_preferences')

          .input
            %ul.inputs-list
              %li
                %label
                  = f.check_box :show_community_spotlight_in_stream
                  %span
                    = t('.show_community_spotlight')

          .actions
            = f.submit t('.change'), :class => 'btn primary'
            = link_to t('cancel'), edit_user_path, :class => "btn"


    .clearfix
      = form_for current_user, :url => user_path, :html => { :method => :put } do |f|
        = f.error_messages
        %fieldset
          %legend
            = t('.following')

          .clearfix
            .input
              %ul.inputs-list
                %li
                  %label
                    = f.check_box :auto_follow_back
                    %span
                      = t('.auto_follow_back')

          .clearfix
            .input
              = f.select :auto_follow_back_aspect_id, aspect_options_for_select(current_user.aspects)
              %span.help-block
                %strong
                  = t('.auto_follow_aspect')

          .actions
            = f.submit t('.change'), :class => 'btn primary'
            = link_to t('cancel'), edit_user_path, :class => "btn"

    .clearfix
      = form_for current_user, :url => user_path, :html => { :method => :put } do |f|
        = f.error_messages
        %fieldset
          %legend
            = t('.show_getting_started')

          .clearfix
            .input
              %ul.inputs-list
                %li
                  %label
                    = f.check_box :getting_started
                    %span
                      = t('.show_getting_started')

          .actions
            = f.submit t('.change'), :class => 'btn primary'
            = link_to t('cancel'), edit_user_path, :class => "btn"

    .clearfix
      = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
        = f.error_messages
        %fieldset
          %legend
            = t('.receive_email_notifications')

          .input
            %ul.inputs-list
              = f.fields_for :email_preferences do |type|
                %li
                  %label
                    = type.check_box :also_commented, {:checked =>  @email_prefs['also_commented']}, false, true
                    %span
                      = t('.also_commented')

                %li
                  %label
                    = type.check_box :mentioned, {:checked =>  @email_prefs['mentioned']}, false, true
                    %span
                      = t('.mentioned')

                %li
                  %label
                    = type.check_box :comment_on_post, {:checked =>  @email_prefs['comment_on_post']}, false, true
                    %span
                      = t('.comment_on_post')

                %li
                  %label
                    = type.check_box :private_message, {:checked =>  @email_prefs['private_message']}, false, true
                    %span
                      = t('.private_message')

                %li
                  %label
                    = type.check_box :started_sharing, {:checked =>  @email_prefs['started_sharing']}, false, true
                    %span
                      = t('.started_sharing')

                %li
                  %label
                    = type.check_box :liked, {:checked =>  @email_prefs['liked']}, false, true
                    %span
                      = t('.liked')

                %li
                  %label
                    = type.check_box :reshared, {:checked =>  @email_prefs['reshared']}, false, true
                    %span
                      = t('.reshared')

          .actions
            = f.submit t('.change'), :class => "btn primary"
            = link_to t('cancel'), edit_user_path, :class => "btn"

    .clearfix
      %h3
        = t('.export_data')
      .clearfix
        = link_to t('.download_xml'), export_user_path, :class => "btn"
      .clearfix
        = link_to t('.download_photos'), "#", :class => "btn", :id => "photo-export-button", :title => t('.photo_export_unavailable')

    .clearfix
      %h3
        = t('.close_account_text')
      %a{:class => 'btn danger', 'data-controls-modal' => 'close-account-pane', 'data-backdrop' => "static"}
        = t('.close_account_text')


#close-account-pane.modal.hide
  .modal-header
    = link_to "x", "#", :class => "close"
    %h3
      = t('.close_account.dont_go')

  .modal-body
    %p
      = t('.close_account.make_diaspora_better')

    %ul
      %li
        = t('.close_account.what_we_delete')
      %li
        = t('.close_account.locked_out')
      %li
        = t('.close_account.lock_username')
      %li
        = t('.close_account.no_turning_back')
    %p
      %strong
        = t('.close_account.no_turning_back')


  .modal-footer
    = form_for 'user', :url => user_path, :html => { :method => :delete } do |f|
      = f.error_messages
      %fieldset
        .clearfix
          = f.label :close_account_password, t('.current_password'), :for => :close_account_password
          .input
            = f.password_field :current_password, :id => :close_account_password

        .clearfix
          = f.submit t('.close_account_text'), :confirm => t('are_you_sure_delete_account'), :class => 'btn danger'
