{{#unless all_comments_loaded}}
  <ul class="show_comments {{#unless showExpandCommentsLink}} hidden {{/unless}}">
    <li>
      <a href="/posts/{{id}}/comments" class="toggle_post_comments">
      {{t "stream.more_comments" count=moreCommentsCount}}
      </a>
    </li>
  </ul>
{{/unless}}

<div class="comments"> </div>

{{#if current_user}}
  <form accept-charset="UTF-8" action="/posts/{{id}}/comments" class="new_comment {{#unless commentsPresent}} hidden {{/unless}}" id="new_comment_on_{{id}}" method="post">
    <fieldset>
      <textarea class="comment_box" id="comment_text_on_{{id}}" name="text" rows="1" prefill="{{t "stream.comment"}}" />
      <input class="btn comment_submit" disabled='true' id="comment_submit_{{id}}" name="commit" type="submit" value="{{t "stream.comment"}}" />
    </fieldset>
  </form>
{{/if}}