<div class="right controls">
  {{#if canRemove}}
    <img src="/images/black-close-icon.png" class="delete comment_delete" title="{{t "delete"}}" />
  {{/if}}
</div>

{{#with author}}
  <a href="/people/{{guid}}">
    <img src="{{avatar.small}}" class="avatar" title="{{name}}"/>
  </a>
{{/with}}

<div class="content">
  <div class="collapsible">
    {{{text}}}
  </div>

  <div class="comment_info">
    <time class="timeago" datetime="{{created_at}}"/>
  </div>
</div>
