<div class="reshare">

  {{#if root}}

    {{#with root}}
      {{#with author}}
        <a href="/people/{{guid}}">
          <img src="{{avatar.small}}" class="avatar" title="{{name}}"/>
        </a>
      {{/with}}

      <div class="content">
    {{/with}}

      {{> status-message}}
      
    </div>

  {{else}}
  
    <p>
      {{t "stream.original_post_deleted"}}
    </p>
  {{/if}}

</div>
