<div class="right controls">
  {{#if authorIsCurrentUser}}
    <a href="#" rel=nofollow>
      <!-- <img src="/images/icons/ignoreuser.png" alt="Ignoreuser" class="block_user control_icon" title="{{t "ignore"}}" /> -->
      <img src="/images/black-close-icon.png" class="delete control_icon hide_post" title="{{t "stream.hide"}}" />
    </a>
  {{else}}
    <a href="#" rel=nofollow>
      <img src="/images/black-close-icon.png" class="delete control_icon remove_post" title="{{t "delete"}}" />
    </a>
  {{/if}}
</div>

{{#with author}}
  <a href="/people/{{guid}}">
    <img src="{{avatar.small}}" class="post-author avatar" title="{{name}}" />
  </a>
{{/with}}

{{#unless public}}
  <img src="/images/icons/padlock-closed.png" class="post-scope" />
{{/unless}}

<div class="content">

  {{#if nsfw}}
    <div class="shield_wrapper">
      <div class="shield">
        {{t "stream.nsfw"}}
        <a href="#">
          {{t "stream.show"}}
        </a>
      </div>
  {{/if}}

  <div class="post-content"> </div>

  {{#if nsfw}}
    </div>
  {{/if}}


  <div class="post-stats">
    <time class="timeago" datetime="{{created_at}}" />

    <span class="feedback"> </span>
  </div>

  <!-- <div class="likes"> </div> -->
  <div class="comments"> </div>

</div>
